@page
@using Microsoft.Extensions.Localization
@using NewModule.Localization
@using NewModule.Web.Pages.NewModule
@model NewModule.Web.Pages.NewModule.IndexModel
@inject IStringLocalizer<NewModuleResource> L

@{
}
<h1>NewModule</h1>
<p>@L["SamplePageMessage"]</p>
