<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/b6237462-9131-418a-bbb8-0c9a718ec5c1/v3/index.json" />
  </packageSources>
</configuration>