@page
@using Microsoft.Extensions.Localization
@using volo.account.pro.Localization
@using volo.account.pro.Web.Pages.pro
@model volo.account.pro.Web.Pages.pro.IndexModel
@inject IStringLocalizer<proResource> L

@{
}
<h1>pro</h1>
<p>@L["SamplePageMessage"]</p>
