@page
@using Microsoft.Extensions.Localization
@using moduleA.Localization
@using moduleA.Web.Pages.moduleA
@model moduleA.Web.Pages.moduleA.IndexModel
@inject IStringLocalizer<moduleAResource> L

@{
}
<h1>moduleA</h1>
<p>@L["SamplePageMessage"]</p>
